<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-11 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                            <img src="images/about.png"
                                style="  width: 200px; height: 300px;object-fit: cover;padding-top: 10%;" alt="dveansh"
                                class="img-fluid" title="macho devansh">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h2>I Am A <span class="txt_clr"> Mern stack Devlloper</span> gammer and student.</h2>
                        <a href="https://drive.google.com/file/d/1yENfKxBHgIiWdylELTCsn_bBXF_sgkWB/view?usp=drive_link"
                            target="_devansh"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- foooter -->
    {{>footer}}
</body>

</html>